<div class="bg-success block__overview__card">
    <div class="block__overview__card__section">
        <div class="block__overview__card__section__title">{{ location.name }}</div>
        <div class="block__overview__card__section__info">{{ location.address }} - {{ location.city }}</div>
    </div>
    <div class="block__overview__card__section block__overview__card__section--action">
        <a href="{{ path('location_update_principal', {'location': location.id}) }}"><button class="btn btn__primary  block__overview__card__section__action">devenir résidence principale</button></a>
        <a href="{{ path('location_remove', {'location': location.id}) }}"><button class="btn btn__delete  block__overview__card__section__action">supprimer</button></a>
        <a href="{{ path('location_update', {'location': location.id}) }}"><button class="btn btn__edit  block__overview__card__section__action">modifier</button></a>
    </div>
</div>