{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('password_checker') }}
{% endblock %}

{% block title %}{{ parent() }}{{ "title.login"|trans }}{% endblock %}

{% block body %}
    {% if error %}
        <div class="flash-card flash--warning d-flex flex-column align-items-center">{{ error.message|raw }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label class="form-label required" for="username">{{ 'form.login.email.label'|trans }}</label>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}">

        <label class="form-label required" for="password">{{ 'form.login.password.label'|trans }}</label>
        <div>
            <input type="password" id="password" class="form-control" name="_password">
        </div>
        {# If you want to control the URL the user is redirected to on success
       <input type="hidden" name="_target_path" value="/account"> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn__primary">{{ 'button.connection'|trans}}</button>
        </div>
    </form>
    <div class="d-flex flex-column justify-content-between">
        <a href="{{ path('app_register') }}" class="btn btn__secondary">{{ 'button.register'|trans }}</a>
        <a href="{{ path('app_forgot_password_request') }}" class="btn btn__tertiary">{{ 'reset.pwd.button'|trans }}</a>
    </div>

    <template id="eye-template">
        <button class="btn btn__eye btn__eye--login" type="button"><i class="fa-solid fa-eye"></i></button>
    </template>
{% endblock %}