<div class="card">
    <div class="card__section">
        {% if product.product.picture is defined and product.product.picture is not null %}
            <img
                    class="table__image"
                    src="{{ asset('uploads/'~product.product.picture) }}"
                    alt="{{ product.product.name }} "
                    width="50px"
                    height="50px"
            >
        {% endif %}
        <div class="card__section--right">
            <p>{{ product.quantity }} {{ product.product.unity.name }}</p>
        </div>
    </div>
    <div class="card__section">
        {% set reservedProduct = product.reservedProductByUser(app.user) %}
        {% if reservedProduct or product.quantityReserved is not same as product.quantity %}
            <div id="reserved-button-{{ product.id }}-container">

                {% include 'product/reserved_button.html.twig' with {
                    type: 'reserved',
                    id: product.id,
                    isHidden: reservedProduct,
                    btnClass: 'btn__primary',
                } %}
                {% include 'product/reserved_button.html.twig' with {
                    type: 'unreserved',
                    id: product.id,
                    isHidden: not reservedProduct or reservedProduct.status is same as constant('App\\Entity\\ReservedProduct::STATUS_BOUGHT'),
                    btnClass: 'btn__delete',
                } %}
            </div>
            <div id="buy-button-{{ product.id }}-container">
                {% if reservedProduct %}
                    {% include 'product_party/_buy_button.html.twig' %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="card__section">
        <h3>{{ product.product.name }}</h3>
    </div>
    {% if not reservedProduct and not product.reservedProducts.isEmpty %}
        <div class="card__section">
                <p>
                    {% for reservedProduct in product.reservedProducts %}
                        {{ reservedProduct.user.username }}
                    {% endfor %}
                    s'en charge
                </p>
        </div>
    {% endif %}
    {% if product.product.user is not same as app.user or is_granted('ROLE_ADMIN') %}
        <div class="card__section card__section--signal">
            <a
                    href="{{ path('product_report', {slug: product.product.slug}) }}"
                    class="card__section__signal-link"
                    data-fetch-link="true"
            >
                {% if product.product.reporters.contains(app.user) %}
                    {{ 'link.product.unreport'|trans }}
                {% else %}
                    {{ 'link.product.report'|trans }}
                {% endif %}
            </a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="card__section card__section--signal">
                <a
                        href="{{ path('product_moderate', {slug: product.product.slug}) }}"
                        class="card__section__signal-link"
                        data-fetch-link="true"
                >
                    {% if product.product.isModerate %}
                        {{ 'link.product.unmoderate'|trans }}
                    {% else %}
                        {{ 'link.product.moderate'|trans }}
                    {% endif %}
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>