<div class="search-list">
    {% for product in products %}
        <div
            class="search-list__product"
            id="card-search-product-{{ product.id }}"
            data-id="{{ product.id }}"
            data-name="{{ product.name }}"
            data-unity="{{ product.unity.shortname }}"
        >
            <div class="search-list__product__info">
                <div class="search-list__product__image">
                    {% if product.picture is defined and product.picture is not null %}
                        <img
                                class="table__image"
                                src="{{ asset('uploads/'~product.picture) }}"
                                alt="{{ product.name }} "
                                width="50px"
                                height="50px"
                        >
                    {% endif %}
                </div>
                <div class="search-list__product__quantity d-flex align-items-center">
                    <button
                            id="remove-product-{{ product.id }}"
                            class="btn btn-outline-info search-list__quantity-btn"
                            type="button"
                    >
                        -
                    </button>
                    <div class="search-product-quantity">
                        <input
                                type="number"
                                id="search-product-quantity-input-{{ product.id }}"
                                class="product-quantity__input"
                                placeholder="0"
                        />
                        <p class="product-quantity">{{ product.unity.shortname }}</p>
                    </div>
                    <button
                            id="add-product-{{ product.id }}"
                            class="btn btn-outline-info fa-solid fa-plus search-list__quantity-btn"
                            type="button"
                    >

                    </button>
                </div>
            </div>
            <p  class="search-list__product__name">{{ product.name }}</p>
        </div>
    {% endfor %}
</div>