<div class="search-list">
    {% for product in products %}
        <div class="search-list__product" id="search-product-{{ product.id }}" data-id="{{ product.id }}">
            <div class="search-list__product__info">
                <div class="search-list__product__image">
                    <img
                            class="table__image"
                            src="{% if product.picture is defined and product.picture is not null %}{{ asset('uploads/'~product.picture) }}{% endif %}"
                            alt="{{ product.name }} "
                            width="50px"
                            height="50px"
                    >
                </div>
                <div class="search-list__product__quantity d-flex align-items-center">
                    <button
                            id="remove-product-{{ product.id }}"
                            class="btn btn-outline-info search-list__quantity-btn"
                            type="button"
                            data-product-id="{{ product.id }}"
                    >
                        -
                    </button>
                    <div class="product-quantity">
                        <input
                                type="number"
                                id="nb-product-{{ product.id }}"
                                class="product-quantity__input"
                                placeholder="0"
                                data-product-id="{{ product.id }}"
                                data-product-name="{{ product.name }}"
                                data-product-unity="{{ product.unity.shortname }}"
                        />
                        <p class="product-quantity">{{ product.unity.shortname }}</p>
                    </div>
                    <button
                            id="add-product-{{ product.id }}"
                            class="btn btn-outline-info fa-solid fa-plus search-list__quantity-btn"
                            type="button"
                            data-product-id="{{ product.id }}"
                            data-product-name="{{ product.name }}"
                            data-product-unity="{{ product.unity.shortname }}"
                    >

                    </button>
                </div>
            </div>
            <p  class="search-list__product__name">{{ product.name }}</p>
        </div>
    {% endfor %}
</div>