{% set isFinalDate = party.finalDate is not null %}
<a
        href="{{ path('party_show', {slug: party.slug}) }}"
        class="party__reminder__card"
>
    <div class="party__reminder__card__section">
        <div class="party__reminder__card__section--left">
            {% if isFinalDate %}
                {% set date = party.finalDate %}
                {% set isDoubleCalendar = date.endingAt is not null and date.startingAt|date("m/d/Y") is not same as date.endingAt|date("m/d/Y") %}
                <div class="calendar-mini {% if isDoubleCalendar %}calendar-mini--double{% endif %}">
                    {% if isDoubleCalendar %}
                        {% include 'proposition_date/calendar_mini_card.html.twig' with {date: date.startingAt, double: 'left' } %}
                        {% include 'proposition_date/calendar_mini_card.html.twig' with {date: date.endingAt, double: 'right' } %}
                    {% elseif date.endingAt is not null %}
                        {% include 'proposition_date/calendar_mini_card.html.twig' with {date: date.startingAt, endingHour: date.endingAt|date("H:i")} %}
                    {% else %}
                        {% include 'proposition_date/calendar_mini_card.html.twig' with {date: date.startingAt} %}
                    {% endif %}
                </div>
            {% else %}
                <div class="calendar-mini">
                    <div class="calendar-mini-card">
                        <div class="calendar-mini-card__top"></div>
                        <div class="calendar-mini-card__body">
                            <div class="calendar-mini-card__body__day">?</div>
                            <div class="calendar-mini-card__body__month">vote</div>
                            <div class="calendar-mini-card__body__hour">en cours</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="party__reminder__card__section--center d-flex align-items-center">
            <p>{{ party.name }}</p>
        </div>
        <div class="party__reminder__card__section--right"></div>
    </div>
    <div
        class="
            d-flex
            justify-content-center
            {% if party.creator is same as app.user or isFinalDate and party.finalDate.isUserAvailable(app.user) %}
                card--success
            {% elseif not isFinalDate %}
                card--wait
            {% elseif isFinalDate and party.finalDate.isUserRefused(app.user) %}
                card--danger
            {% else %}
                card--warning
            {% endif %}
        "
    >
        <p>
            {% if party.creator is same as app.user %}
                {{'party.reminder.status.message.my_party'|trans}}
            {% elseif not isFinalDate %}
                {{'party.reminder.status.message.not_define_date'|trans}}
            {% elseif isFinalDate and party.finalDate.isUserAvailable(app.user) %}
                {{'party.reminder.status.message.accepted'|trans}}
            {% elseif isFinalDate and party.finalDate.isUserRefused(app.user) %}
                {{'party.reminder.status.message.refused'|trans}}
            {% else %}
                {{'party.reminder.status.message.wait'|trans}}
            {% endif %}
        </p>
    </div>
</a>
