{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-création{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('party_form') }}
{% endblock %}

{% block body %}
    <h1 class="title section__title">Créer un événement</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form__section">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>
    <div class="form__section">
        {{ form_row(form.location) }}
    </div>

    <div class="form__section d-flex flex-column align-items-center">
        <input id="search-product" placeholder="chercher un produit" class="form-control" name="search-product" type="text" data-url="{{ path('product_search') }}" list="search-list"/>
        <div id="product-proposition-table"></div>
        <button
            id="add-product"
            class="btn btn__primary"
            type="button"
            data-url="{{ path('product_create') }}"
            data-template='{{ form_widget(form.product.vars.prototype)|raw }}'
            data-toggle="modal"
            data-target="#modal"
        >
            Ajouter un produit
        </button>
        <div id="products-list" data-template='{{ form_widget(form.productsParty.vars.prototype)|raw }}'></div>
    </div>


    <button class="btn-dark btn" type="submit">Créer l'évènement</button>
    {{ form_end(form) }}
    <div id="new-product-form" class="modal" data-modal="true" data-url="{{ path('product_create') }}"></div>
    {% include "partials/_modal.html.twig" %}
{% endblock %}