{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-création{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('party_form') }}
{% endblock %}

{% block body %}
    <h1 class="title section__title">mon form</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.location) }}
    <div>
        <input id="search-product" name="search-product" type="text" data-url="{{ path('product_search') }}" list="search-list"/>
        <button
            id="add-product"
            class="btn btn__primary"
            type="button"
            data-url="{{ path('product_create') }}"
            data-template='{{ form_widget(form.product.vars.prototype)|raw }}'
        >Ajouter un produit</button>
    </div>
    <div id="product-proposition-table"></div>
    <div id="products-list" data-template='{{ form_widget(form.productsParty.vars.prototype)|raw }}'></div>

    <button class="btn-dark btn" type="submit">Créer</button>
    {{ form_end(form) }}
    <div id="new-product-form" data-url="{{ path('product_create') }}"></div>
{% endblock %}