{% extends 'base.html.twig' %}
{% set isCreator = app.user is same as party.creator %}

{% block title %}{{ parent() }}{{ "title.party"|trans }}{{ party.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('party_index') }}
    {{ encore_entry_script_tags('comment_form') }}
{% endblock %}

{% block body %}
    <div class="card__title">
        <h2>{{ party.name }}</h2>
    </div>
    {% if party.description %}
        <div class="form__section">
            <p>{{ party.description }}</p>
        </div>
    {% endif %}
    <div class="form__section">
        <h3>{{ 'party.location'|trans }}</h3>
        <p>{{ party.location.address }} {{ party.location.city }} {{ party.location.zipCode }}</p>
    </div>

    <div class="form__section form__section--calendar">
        {% if party.finalDate %}
            {% include 'proposition_date/calendar_card.html.twig' with {date: party.finalDate, final: true}%}
        {% else %}
            {% for date in party.propositionDates %}
                {% include 'proposition_date/calendar_card.html.twig' with {final: false, isCreator: isCreator } %}
            {% endfor %}
        {% endif %}
    </div>
    {% if 0 < party.productsParty|length %}
        <div class="form__section">
            {% for productParty in party.productsParty %}
                {% if not productParty.product.isModerate or productParty.product.user is same as app.user or is_granted('ROLE_ADMIN') %}
                    {% include 'product_party/card.html.twig' %}
                {% else %}
                    <div class="card--danger">
                        <p>{{ 'product.moderate.message'|trans }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="form__section">
        <div id="comment-list" class="comment__section">
            {{ 'default.message'|trans|raw }}
            {% set commentDate = '' %}
            {% set commentHour = '' %}
            {% for comment in party.comments %}
                {% if comment.createdAt|date('d/m/Y') is not same as commentDate %}
                    {% set commentDate = comment.createdAt|date('d/m/Y') %}
                    <div class="comment__date-separator">{{ 'comment.date.separator'|trans({'%date%': commentDate}) }}</div>
                {% endif %}
                {% include 'comment/card.html.twig' %}
            {% endfor %}
        </div>
        {% include 'comment/_form.html.twig' with {'form': formComment} %}
    </div>

    {% if isCreator %}
        <div class="card__section__action">
            <a href="{{ path('party_edit', {slug: party.slug}) }}" class="btn btn__edit">{{ 'button.edit'|trans }}</a>
            <a href="{{ path('party_remove', {slug: party.slug}) }}" class="btn btn__delete">{{ 'button.remove'|trans }}</a>
        </div>
        <div class="">
            <a
                href="{{ path('party_invitation_create', {slug: party.slug}) }}"
                id="party-share-button"
                class="btn btn-primary"
            >
                {{ 'button.party.share'|trans }}
            </a>
        </div>
        <div id="party-share" class="form__section hidden"></div>

    {% endif %}
{% endblock %}
