{% extends 'base.html.twig' %}

{% block title %}Hello PartyController!{% endblock %}

{% block body %}
    <h2>{{ party.name }}</h2>
    <p>{{ party.description }}</p>
    <p>{{ party.location.address }} {{ party.location.city }} {{ party.location.zipCode }}</p>
    {% for product in party.productsParty %}
        <h3>{{ product.product.name }}</h3>
        <p>{{ product.quantity }} {{ product.product.unity.shortName }}</p>
    {% endfor %}
{% endblock %}
