{% extends 'base.html.twig' %}

{% block title %}Hello PartyController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('party_index') }}
{% endblock %}

{% block body %}
    <div class="card__title">
        <div class="card__section">
            <h2>{{ party.name }}</h2>
        </div>
        <div class="card__section">
            {% if party.description %}
                <p>description</p>
                <p>{{ party.description }}</p>
            {% endif %}
            <p>Lieux de rendez-vous :</p>
        </div>
        <div class="card__section">
            <p>{{ party.location.address }} {{ party.location.city }} {{ party.location.zipCode }}</p>
        </div>
    </div>

    <div class="form__section">
        {% if party.finalDate %}
            {% include 'proposition_date/card.html.twig' with {date: party.finalDate, final: true}%}
        {% else %}
            {% for date in party.propositionDates %}
                {% include 'proposition_date/card.html.twig' with {final: false} %}
            {% endfor %}
        {% endif %}
    </div>
    {% if 0 < party.productsParty|length %}
        <div class="form__section">
            {% for productParty in party.productsParty %}
                {% if not productParty.product.isModerate %}
                    {% include 'product_party/card.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.user is same as party.creator %}
        <div id="party-share" class="d-flex align-items-center flex-column">
            <a href="{{ path('party_invitation_create', {slug: party.slug}) }}" id="party-share-button">
                <button class="btn btn-primary" type="button">
                    {{ 'button.party.share'|trans }}
                </button>
            </a>
        </div>
        <a href="{{ path('party_remove', {slug: party.slug}) }}" class="btn btn__delete">{{ 'button.remove'|trans }}</a>
    {% endif %}
{% endblock %}
