{% set shareLink = url('party_invitation', {invitationToken: party.invitationToken}) %}
<div class="d-flex align-items-center flex-column">
    <div class="d-flex flex-row">
        <input type="text" id="party-share-link" class="form-control" value="{{ shareLink }}"  readonly="readonly" />
        <button id="copy-button" class="w-100 btn btn-primary" type="button">{{ 'button.copy.link'|trans }}</button>
    </div>
    <a href="{{ path('party_invitation_create', {slug: party.slug, new: true}) }}" id="party-share-new">
        <button class="btn btn-secondary" type="button">
            {{ 'button.party.share.new'|trans }}
        </button>
    </a>
    <img src="{{ qr_code_url(shareLink) }}"/>
</div>
