{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ "title.agree_therm"|trans }}{% endblock %}

{% block body %}
    <div class="paragraph">
        <h1 class="paragraph__title--principal">{{ 'text.agree_therm.title_1'|trans }}</h1>
        <p class="paragraph__content--principal">{{ 'text.agree_therm.part_1'|trans }}</p>
        <ol class="paragraph__list">
            <li class="paragraph__list__items">{{ 'text.agree_therm.list_1'|trans }}</li>
            <li class="paragraph__list__items">{{ 'text.agree_therm.list_2'|trans }}</li>
            <li class="paragraph__list__items">{{ 'text.agree_therm.list_3'|trans }}</li>
            <li class="paragraph__list__items">{{ 'text.agree_therm.list_4'|trans }}</li>
        </ol>
        <p class="paragraph__content">{{ 'text.agree_therm.part_2'|trans }}</p>
    </div>
{% endblock %}
