{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ "title.agree_therm"|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_link_tags('agree_therms') }}
{% endblock %}

{% block body %}
    <div class="agree-therms">
        <h1 class="agree-therms__title--principal">{{ 'text.agree_therm.title_1'|trans }}</h1>
        <p class="agree-therms__content--principal">{{ 'text.agree_therm.part_1'|trans }}</p>
        <ol class="agree-therms__list">
            <li class="agree-therms__list__items">{{ 'text.agree_therm.list_1'|trans }}</li>
            <li class="agree-therms__list__items">{{ 'text.agree_therm.list_2'|trans }}</li>
            <li class="agree-therms__list__items">{{ 'text.agree_therm.list_3'|trans }}</li>
            <li class="agree-therms__list__items">{{ 'text.agree_therm.list_4'|trans }}</li>
        </ol>
        <p class="agree-therms__content">{{ 'text.agree_therm.part_2'|trans }}</p>
    </div>
{% endblock %}
