{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{ "title.legal_notice"|trans }}{% endblock %}

{% block body %}
    <div class="legal-notice">
        <h1 class="legal-notice__title--principal">{{ 'text.legal_notion.title_1'|trans }}</h1>
        <p class="legal-notice__content--principal">{{ 'text.legal_notion.part_1'|trans }}</p>

        <h3 class="legal-notice__title">{{ 'text.legal_notion.title_2'|trans }}</h3>
        <p class="legal-notice__content">{{ 'text.legal_notion.part_2'|trans }}</p>

        <h3 class="legal-notice__title">{{ 'text.legal_notion.title_3'|trans }}</h3>
        <p class="legal-notice__content">{{ 'text.legal_notion.part_3'|trans }}</p>


        <h3 class="legal-notice__title">{{ 'text.legal_notion.title_4'|trans }}</h3>
        <p class="legal-notice__content">{{ 'text.legal_notion.part_4'|trans }}</p>

        <h3 class="legal-notice__title">{{ 'text.legal_notion.title_5'|trans }}</h3>
        <p class="legal-notice__content">{{ 'text.legal_notion.part_5'|trans }}</p>

        <h3 class="legal-notice__title">{{ 'text.legal_notion.title_6'|trans }}</h3>
        <p class="legal-notice__content">{{ 'text.legal_notion.part_6'|trans }}</p>
    </div>
{% endblock %}
