<a
        id="{{ type }}-product-button-{{ productParty.id }}"
        href="{{ path(('product_party_' ~ type), {id: id}) }}"
        data-listener="false"
        data-type="{{ type }}"
        data-id="{{ productParty.id }}"
        {% if isHidden %}hidden="hidden"{% endif %}
>
    <button class="btn {{ btnClass }}">
        {{ ('button.party.reserved_product.' ~ type )|trans }}
    </button>
    <script defer>alert('coucou')</script>
</a>