<div id="card-proposition-date-{{ date.id }}" class="card {% if date.isUserAvailable(app.user) %}card--success{% endif %}">
    <div class="card__section">
        <div class="card__section--left">{{ date.startingAt|format_datetime('full', locale='fr')|slice(0, -3) }}</div>
        <div class="card__section--right">
            {% if app.user is same as party.creator %}
                {% if  not final %}
                    <a href="{{ path('party_date_validation', {id: date.id}) }}">
                        <button class="btn btn-primary" type="button">
                            {{ 'button.party.proposition_date_confirm'|trans }}
                        </button>
                    </a>
                {% endif %}
            {% else %}
                <a
                        href="{{ path('proposition_date_available', {id: date.id}) }}"
                        id="party-available-button-{{ date.id }}"
                        data-id="{{ date.id }}"
                        {% if date.isUserAvailable(app.user) %}hidden="hidden"{% endif %}
                >
                    <button class="btn btn-primary" type="button">
                        {{ 'button.party.proposition_date_available'|trans }}
                    </button>
                </a>
                <a
                        href="{{ path('proposition_date_unavailable', {id: date.id}) }}"
                        id="party-unavailable-button-{{ date.id }}"
                        data-id="{{ date.id }}"
                        {% if not date.isUserAvailable(app.user) %}hidden="hidden"{% endif %}
                >
                    <button class="btn btn-primary" type="button">
                        {{ 'button.party.proposition_date_available.not'|trans }}
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card__section">
        <p>participants : </p>
    </div>
    <div class="card__section">
        <ul class="card__section__list">
            <li>{{ party.creator.username }}</li>
            {% for available in date.availables %}
                {% if available.isavailable %}
                    {% if available.user is same as app.user %}
                        <li>Vous</li>
                    {% else %}
                        <li>{{ available.user.username }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
